@import '../../utils/variables.scss';

.account {
  padding: 2rem 10rem;
  color: white;
  .sort-by-box {
    margin-left: 1rem;
    background-color: #20577e;
    color: white;;
    border:none;
    width: fit-content;
    border-radius: 2rem;
    padding: 0.25rem 2rem;
    text-transform: capitalize;

    
    
    
  }

  .sort-by-box:hover{
    background-color:#326b94 !important;
  }

  .movie-card-container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .profile-wrapper {
    justify-content: space-evenly;    
  }
  .stats {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-evenly;
  }

  hr { 
    display: block; height: 1px;
    border: 0; border-top: 1px solid $btnyellow;
    margin: 1em 0; padding: 0; 
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .info{
    cursor: pointer;
    display: flex;
    padding: 0 10%;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid transparent;

    i {
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      font-size: x-large;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button {
      text-decoration: none;
      outline: none;
      border: none;
      background: none;
      color: white;
    }

  }   

  .info:hover {
    border-bottom: 2px solid $btnyellowhover;
    //color: rgb(252, 225, 199);
  }

  .info-text span{
    font-size: x-large;
    margin: 0;
    font-weight: 600;
  }
  .info-text span:nth-child(2) {
    color: grey;
    display: block;
    //width: fit-content;
    font-size: smaller;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
}

@media screen and (max-width: 1450px) {
 .account{
   padding:2rem 6rem;
 }
}

@media screen and (max-width: 770px) {
  .account{
    padding:2rem 2rem;
  }
 }