@import '../../utils/variables.scss';

.signup {
  display: flex;
  height: 100vh;
  background-color: yellow;
  .signup-left {
    width: 100%;
    background-color: white;

    .back-btn {
      position: relative;
      width: 40px;
      height: 40px;
      top: 16%;
      left: 16%;
    }

    .back-btn:hover {
      cursor: pointer;
    }

    .signup-box {
      margin: 0 auto;
      width: 60%;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      .form-control {
        border: 2px solid $bgblue;
      }
      .form-control:focus {
        border: 3px solid $bgblue;
        box-shadow: none !important;
      }
      h2 {
        float: left;
        margin-bottom: 1.5rem;
        font-weight: 700;
      }
      button {
        font-family: monospace, monospace;
        padding: 6px 0;
        width: 100%;
        background: $bgblue;
        border-radius: 5px;
        color: white;
        outline: none;
        margin-top: 20px;
      }
      button:hover {
        background-color: black;
      }

      .login-link {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .login-link:hover {
        a:hover {
          text-decoration: none;
        }
      }
    }
  }
  .signup-right {
    background-color: $bgblue;
    color: white;
    .right-box-content {
      margin: 0 auto;
      text-align: left;
      position: relative;
      padding: 20%;
      top: 40%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}
