@import "../../utils/variables.scss";


.login-modal-overlay {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
}

.login-modal {
  background-color: $lightblue;
  color: white;
  margin: 0 auto;
  width: 30%;
  padding: 2rem 1rem;
  border-radius: 10px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  .fontType {
    float: left;
    font-size: small;
  }
  .form-control {
    background-color: $bgblue;
    color:white;
    border: 1px solid grey;
    margin-bottom: 1.5rem;
    border-radius: 10px;
  }
  .form-control:focus {
    border: 3px solid $btnyellow;
    box-shadow: none!important;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px $bgblue inset !important;
    box-shadow: 0 0 0 30px $bgblue inset !important;
    color: white !important;
    -webkit-text-fill-color: white !important;
  }
  h2{
    float: left;
    margin-bottom: 3rem;
    font-weight: 700;
  }
  button {
    font-family: monospace, monospace;
    font-size: 15px;
    color:white;
    width: 100%;
    background: $btnyellow;
    border: 1px solid $btnyellow;
    margin: 1rem 2rem 0 0;  
    border-radius: 10px;
    padding: 8px 15px;
    letter-spacing: 0.3mm;
    cursor: pointer;
    outline: none;
  }
  button:hover {
    background-color: $btnyellowhover;
  }
  .error-resp {
    display: block;
    color: rgba(255, 0, 0,0.8);
    margin: 0 auto;
  }

  .modal-close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    color: grey;
  }
  .modal-close-btn:hover{
    color: white;
  }

}